<h1>Cricket Info</h1>
<div>
    <a [routerLink]="'/India'"><h2><img src="./assets/ind.jpeg" width="20px" height="20px"/>players</h2></a>
    <a [routerLink]="'/Bangladesh'"><h2><img src="./assets/bang.jpeg"width="30px" height="30px"/>players</h2></a>
    <a [routerLink]="'/Srilanka'"><h2><img src="./assets/sl.jpeg"width="30px" height="30px"/>players</h2></a>
    <a [routerLink]="'/Australia'"><h2><img src="./assets/aus.jpeg"width="30px" height="30px"/>players</h2></a>

</div>
<router-outlet></router-outlet>

