.column1 {
    float: left;
    width: 10%;
    padding: 10px;
    height: 240px;
    
  }
.column2{
  float: left;
  width: 20%;
  padding: 8px;
  height: 240px;
  
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
